{% extends 'base.html' %}

{% block title %}{{ user_obj.username }}{% endblock %}

{% block menu %}
    {% if user_obj == request.user%}
        <li class="nav-item"><a class="nav-link ml-3 text-success" href="{% url "accounts:user_update" user_obj.pk %}">Edit profile</a></li>
        <li class="nav-item"><a class="nav-link text-success" href="{% url 'accounts:user_change_password' user_obj.pk %}">Change password</a> </li>
    {% endif %}
{%  endblock %}

{%  block content %}
    <h1>Profile: {{ user_obj.username }}</h1>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="='250" height="250" alt="user-pic">
    {% endif %}
    <p> First name: <b>{{ user_obj.first_name }}</b></p>
    <p>Last name: <b>{{ user_obj.last_name }}</b></p>
    <p>Date of birth<b>{{ user_obj.profile.birth_date| date:'d.m.Y' }}</b></p>
    <p>Email: <b>{{ user_obj.email }}</b></p>
{% endblock %}
