body{
    font-family: Arial, sans-serif;
    background-color: rgba(148, 196, 220, 0.83);
    color: #222222;
    margin-top: 30px;
}
.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}
.nav-item{
    font-size: 20px;
}
.navbar-brand{
    font-size: 25px;
}
h1{
    margin-top: 40px;
    margin-left: 35%;
}
.btn{
    width: 130px;
}
.container_artcom h1{
    margin-left: 10px;
    margin-top: 60px;
}
h2{
    margin-left: 35%;
    font-size: 25px;
}
.comment-add label{
    width: 120px;
    height: 30px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 30px;
    font-size: 18px;
}
.comment-add input {
    font-size: 20px;
    width: 500px;
}
.submit p{
    border-radius: 3px;
    font-size: 15px;
    width: 120px;
    height: 30px;
    margin-left: 40%;
}
textarea{
    width: 500px;
    height: 200px;
}
.delete-info h1{
    margin-left: 10%;
}
.pagination a, .pagination .page-disabled {
   display: inline-block;
   border: solid 1px #6a7ddd;
   border-radius: 3px;
   padding: 5px;
   margin: 3px;
}
.pagination a {
   background: #6a7ddd;
    color: white;
    text-decoration: none;
}
.pagination a:hover {
   background: #6a7dff;
}
.pagination .page-disabled {
   background: #6a7dcc;
   color: #dddddd
}
.pagination{
    margin-left: 33%;
    margin-top: 40px;
}
