body{
    font-family: Arial, sans-serif;
    background-color: rgba(148, 196, 220, 0.83);
    color: #222222;
    margin-top: 30px;
}
.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}
.nav-item{
    font-size: 20px;
}
.navbar-brand{
    font-size: 20px;
}
h1{
    margin-top: 40px;
    margin-left: 38%;
}
.btn{
    width: 130px;
}
.container_artcom h1{
    margin-left: 10px;
    margin-top: 60px;
}
h2{
    margin-left: 35%;
    font-size: 25px;
}
/*.comment-add label{*/
    /*width: 120px;*/
    /*height: 30px;*/
    /*display: inline-block;*/
    /*margin-top: 50px;*/
    /*margin-left: 70px;*/
    /*margin-bottom: 30px;*/
    /*font-size: 18px;*/
/*}*/
/*.comment-add input {*/
    /*font-size: 20px;*/
    /*width: 500px;*/
/*}*/
.submit p{
    border-radius: 3px;
    font-size: 15px;
    width: 120px;
    height: 30px;
    margin-left: 40%;
}
textarea{
    width: 500px;
    height: 200px;
}
.delete-info h1{
    margin-left: 10%;
}
.pagination {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 33%;
}

.pagination a, .page-disabled, .page-active {
    display: inline-block;
    border: solid 1px #6a7ddd;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}
.pagination a {
    background: #6a7ddd;
    color: white;
    text-decoration: none;
}

.pagination a:hover {
   background: #6a7dff;
   text-decoration: underline;
}

.page-disabled {
    background: #6a7dcc;
    color: #dddddd;

}
.page-input {
    font-size: 16px;
    width: 50px;
    text-align: center;
}

.page-active {
    background: #ffc122;
}
.form-error {
    color: red;
    font-size: 12px;
    margin: 5px 0 0 0
}

.field-error {
    border: solid 1px red;
    box-shadow: red 0 0 3px;
}
.text-center{
    text-align: center;
}
