{%  for article in articles %}

<div class="card m-5">
  <h5 class="card-header pt-4 font-weight-bolder">
      <p>Created by {{ article.author }} ({{ article.category|default_if_none:'No category' }})
            at {{ article.created_at|date:'d.m.Y H:i:s' }}</p>
  </h5>
  <div class="card-body">
    <h5 class="card-title font-weight-bold">{{ article.title }}</h5>
    <p class="card-text">{{ article.text }}</p>
      <p>Tags:
          {% for tag in article.tags.all %}
            <a href="?tag={{ tag }}">{{ tag }}</a>
          {% endfor %}
        </p>
    <p>
        <a href="{% url 'article_view' article.pk %}" class="btn btn-outline-dark">More</a>
    </p>

  </div>
</div>
{% endfor %}