{% extends 'base.html' %}
{% block menu %}
     <li class="nav-item">
        <a class="nav-link" href="{% url 'comment_add' %}">Add Comment</a>
      </li>

 {% endblock %}

{% block content %}
    <h1>Comments</h1>
    <hr/>
    {%  for comment in comments %}
        <h2>{{ comment.text }}</h2>
        <div>{{ comment.author }}</div>
        <div>{{ comment.created_at }}</div>

        <p><a href="{%  url 'article_view' comment.article.pk %}">{{ comment.article.title }}</a></a> </p>
        <p><a href="{% url 'comment_update' comment.pk %}">Edit</a> </p>
        <p><a href="{% url 'comment_delete' comment.pk%}">Delete</a> </p>
{#        <p><a href="{% url 'comment_add' %}">Add comment</a></p>#}
        <hr/>
    {% endfor %}
{% endblock %}